<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <p-card header="Login">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username">
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="password" pInputText placeholder="Password">
          </div>
        </div>
      </div>

      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <button pButton type="button" label="Sign In" class="ui-button-raised"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
