/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@mixin theme($body-bg-color, $header-bg-color, $profile-pic-bg-color, $primary-text-color) {
  body {
    background-color: $body-bg-color;
  }

  .header {
    background-color: $header-bg-color;
    color: $primary-text-color;

    .user-profile-pic {
      background-color: $profile-pic-bg-color;
    }
  }
}

@mixin theme_overrides($btn-bg-color, $input-txt-color, $card-bg-color, $card-color) {
  body .ui-inputtext {
    color: $input-txt-color;
    background: $btn-bg-color;
  }

  body .ui-card {
    background-color: $card-bg-color;
    color: $card-color;
  }
}

.dark {
  $text-color:white;

  @include theme(#3f3f3f, #474747, #ffb300, $text-color)
}

.light {
  $text-color: #232323;

  @include theme(#e6e6e6, #bdbdbd, #ffb300, $text-color);
  @include theme_overrides(#f9f3f3, #000, #ccc, #1d1b1b);
}
