/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
}

@mixin theme($body-bg-color, $header-bg-color, $profile-pic-bg-color, $primary-text-color) {
  body {
    background-color: $body-bg-color;
  }

  .header {
    background: $header-bg-color;
    color: $primary-text-color;

    .user-profile-pic {
      background-color: $profile-pic-bg-color;
    }
  }

  .layout-sidebar {
    box-shadow: 3px 0 3px 1px black;
    background: #252525;

    .menu-panel {
      ul {
        li {
          color: white;

          &:hover {
            color: #ffb300;
          }
        }
      }
    }
  }
}

@mixin theme_overrides($btn-bg-color, $input-txt-color, $card-bg-color, $card-color) {
  body .ui-inputtext {
    color: $input-txt-color;
    background: $btn-bg-color;
  }

  body .ui-card {
    background-color: $card-bg-color;
    color: $card-color;
  }
}

.dark {
  $text-color: white;

  @include theme(#141414, #141414, #ffb300, $text-color)
}

.light {
  $text-color: #232323;

  @include theme(#141414, #252525, #ffb300, $text-color);
  @include theme_overrides(#f9f3f3, #000, #ccc, #1d1b1b);
}
