.calendar-block{
  display: inline-block;
}

.year {
  margin-bottom: 14px;
  margin-top: 13px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .value {
    width: 50px;
    background-color: #ffb300;
    color: #141414;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
  }

  .arrow {
    transition: color 0.2s;

    &:hover{
      color: #ffb300;
      transition: color 0.2s;
    }
  }
}

.months {
  display: flex;
  width: 168px;
  flex-wrap: wrap;
}

.month-item {
  height: 30px;
  width: 56px;
  text-align: center;
  cursor: pointer;
  padding: 6px;

  &.selected {
    background-color: #3f3f3f;
  }
}
